body{
    background-color: #181C14;
    color: white;
    padding: 0px;
    margin: 0px;
}
h1{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins';
}
nav{
    text-align: center;
    background-color: #1a1f15;
    color: white;
    padding-top: 3vw;
    padding-bottom: 3vw;
}
a{
    color: white;
    text-decoration: none;
    font-family: 'Poppins';
}
a:hover{
    color: rgb(128, 129, 54);
}

#nav-1{
    display: inline-block;
    text-align: center;
    width: 49%;
}
#nav-2{
    display: inline-block;
    text-align: center;
    width: 50%;
}
/*Estilização da homepage///////////////////////////*/
.div-homepage-main{
    margin-top: 10vw;
    margin-bottom: 8vw;
    font-family: 'Poppins';
    text-align: center;
    padding-left: 12,5%;
    padding-right: 12,5%;
}
.paragrafo-homepage{
    text-align: center;
    width: 50%;
    padding-left: 25%;
}
.nav-footer{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    padding: 1%;
}
#button-homepage{
    padding: 1vw;
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    background-color: rgb(128, 0, 128);
    color: white;
    font-family: 'Poppins';
    font-size: 13px;
}
#button-homepage:hover{
    background-color:(150, 151, 70);
    color: aliceblue;
}

/*Estilização das Listas ///////////////////////////*/

.new-list-div{
    text-align: center;
}
.new-list-div input{
    width: 40%;
    height: 3vw;
    background-color: #2c3e2f;
    color: white;
    border-radius: 1vw;
    margin-top: 6vw;
    border-width: 0.2vw;
    border-style: solid;
    color:white; 
    border-color: white;
    border-width: 0.2vw;
    font-size: large;
}
.new-list-div button{
    width: 12%;
    height: 4vw;
    border-radius: 1.5vw;
    background-color: #FFA500;
    font-size: medium;
    border: 0px;
    color: white;
}
.all-lists{
    text-align: center;
}
.ul-li-listas{
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}
.all-tasks{
    text-align: center;
}
#li-listas{
    font-family: 'Poppins';
    font-size: large;
    background-color: #242523;
    border-radius: 1vw;
    align-content: center;
    list-style-type: none;
    height: 4vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
#li-listas:hover{
    font-size: 20px;
}

/*Estilização conclusão e exclusão ///////////////////////////*/
.div-excluir-botao{
    display: inline-block;
    width: 50%;
    text-align: left;
}
.div-concluir-botao{
    display: inline-block;
    width: 49%;
    text-align: right;
}
#excluir{
    text-align: left;
    border-radius: 0.5vw ;
    border-style: none;
    border-width: 0.2vw;
    padding: 0.2vw 0.5vw;
    background-color: red;
    font-size: large;
    color: white;
}
#Concluir{
    font-family: 'Poppins';
    border-radius: 0.5vw ;
    border-style: none;
    border-width: 0.2vw;
    padding: 0.2vw 0.5vw;
    background-color: green;
    font-size: large;
    color: white;
}
#Concluir:hover{
    font-size: larger;
    color: purple;
}
#li-listas.Tarefa-concluida {
    background-color: greenyellow;
    color: white;
}