<div>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <nav class="nav-footer">
        <p>Gerenciador de tarefas desenvolvido por João Masullo</p>
    </nav>
</div>